<configuration>
<!--     
    <appender name="DB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/fm/acceptance/db.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/fm/acceptance/db.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>15</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>[%d][%t][%p][%c:%L] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="API" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/fm/acceptance/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/fm/acceptance/api.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>15</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>[%d][%t][%p][%c:%L] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="API" />
    </root>

    <logger name="com.gtl.fm" level="DEBUG" additivity="false">
        <appender-ref ref="API" />
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="DB" />
    </logger>

    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="DB" />
    </logger>
 -->
</configuration>